<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Argentina</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/index.js"></script>
    </head>
    <body>
        <header class="cabecalho">
            <nav>
                <a class="cabecalho__menu__link" href="index.html">Argentina</a>
                <a class="cabecalho__menu__link" href="comida.html">Alfajor</a>
                <a class="cabecalho__menu__link" href="https://www.google.com/maps/place/Obelisco+de+Buenos+Aires/@-34.6037388,-58.3864413,17z/data=!3m1!4b1!4m6!3m5!1s0x4aa9f0a6da5edb:0x11bead4e234e558b!8m2!3d-34.6037389!4d-58.3815704!16zL20vMDM1Z2pi?entry=ttu">Obelisco</a>
                <a class="cabecalho__menu__link" href="https://www.google.com/maps/place/Cataratas+del+Iguazú,+Misiones,+Argentina/@-25.666669,-54.4603005,15z/data=!3m1!4b1!4m6!3m5!1s0x94f6ea6068b8edff:0xa7f4a990535e7279!8m2!3d-25.6666698!4d-54.4500008!16s%2Fg%2F1tywz2xs?entry=ttu">Cataratas do iguaçu</a>
                <a class="cabecalho__menu__link" href="https://www.google.com/maps/place/Teatro+Col%C3%B3n/@-34.6011105,-58.3835359,15z/data=!4m6!3m5!1s0x95bccac630121623:0x53386f2ac88991a9!8m2!3d-34.6011105!4d-58.3835359!16zL20vMGw2c3Y?hl=pt-BR&entry=ttu">Teatro Colón</a>
            </nav>
        </header>
        <main class="apresentacao">
            <section class="apresentacao__conteudo">
                <h1 class="apresentacao__conteudo__titulo">
                    <strong class="titulo-destaque">Argentina</strong>
                </h1>
                <p class="apresentacao__conteudo__texto">Aluno: Lucas Ledur<br>Escola: Dimensão<br>Prof: Bia</p>
                <img class="apresentacao__imagem" src="Argentina.png">
                <br>
                <h1 class="apresentacao__conteudo__titulo">
                    <strong class="titulo-destaque">Historia</strong>
                </h1>
                <p class="apresentacao__conteudo__texto">Argentina é um país da América do Sul que sofreu com a colonização espanhola e conquistou sua independência em 1816. A região que hoje corresponde à Argentina era habitada por querandis, quíchuas, charruas e guaranis até a chegada dos conquistadores espanhóis em 1516, liderados por Juan Díaz de Solís.</p>
                <br>
                <h1 class="apresentacao__conteudo__titulo">
                    <strong class="titulo-destaque">Economia</strong>
                </h1>
                <p class="apresentacao__conteudo__texto">A economia da Argentina é a segunda mais forte da América do Sul. Assim, o país é um dos membros do Grupo dos 20,  fórum que reúne os 20 países economicamente mais influentes.
                A indústria é o maior setor econômico e o turismo, sem dúvida, é uma das principais atividades do país.
                O país é um bom exportador e tem uma agricultura bastante desenvolvida em virtude da fertilidade do seu solo. Grande parte dos produtos exportados pelos argentinos são agrícolas.</p>
                <br>
                <h1 class="apresentacao__conteudo__titulo">
                    <strong class="titulo-destaque">Vegetação</strong>
                </h1>
                <p class="apresentacao__conteudo__texto">A vegetação é composta por florestas subtropicais, áreas de savanas e os famosos pampas, que são áreas de planície formadas por vegetação de gramíneas. Além dessas coberturas vegetais, o tipo desértico também é encontrado na porção sul do país.</p>
                <img class="apresentacao__imagem" src="vegetacao.png">
                <br>
                <h1 class="apresentacao__conteudo__titulo">
                <strong class="titulo-destaque">Clima</strong>
                </h1>
                <p class="apresentacao__conteudo__texto">O clima da Argentina varia de polar, no extremo sul do país, ao subtropical, no norte do país, com importantes porções de clima temperado. A vegetação segue a mesma lógica da distribuição climática, com coberturas vegetacionais de pampas, florestas temperadas e tundras.</p>
                <img class="apresentacao__imagem" src="Clima.png">
                <br>
                <h1 class="apresentacao__conteudo__titulo">
                    <strong class="titulo-destaque">Religiões</strong>
                </h1>
                <p class="apresentacao__conteudo__texto">O cristianismo é predominante entre os argentinos: 92% (católicos 89%, protestantes 2%, outros 1%). A população que não possui religião corresponde a 3%; o ateísmo representa 1%, outras religiões (principalmente o judaísmo) são seguidas por 4% dos argentinos.</p>
                <br>
                <h1 class="apresentacao__conteudo__titulo">
                    <strong class="titulo-destaque">Piramide Etária</strong>
                </h1>
                <img class="apresentacao__imagem" src="piramidetaria.png">
                <br>
                <h1 class="apresentacao__conteudo__titulo">
                    <strong class="titulo-destaque">Bloco Econômico</strong>
                </h1>
                <p class="apresentacao__conteudo__texto">O Mercado Comum do Sul, conhecido como Mercosul, é um bloco econômico sul-americano formado pelo Brasil, Argentina, Uruguai, Paraguai e outros países associados e observadores.</p>
                <img class="apresentacao__imagem" src="/templates/Mercosul.png">
                <br>
                <h1 class="apresentacao__conteudo__titulo">
                    <strong class="titulo-destaque">Capital</strong>
                </h1>
                <p class="apresentacao__conteudo__texto">Buenos Aires é a capital cosmopolita da Argentina. Seu centro é a Praça de Maio, com imponentes edifícios do século 19, como a Casa Rosada, o emblemático palácio presidencial com sacadas. Outras importantes atrações são o Teatro Colón, uma casa de ópera inaugurada em 1908 com cerca de 2.500 lugares, e o moderno museu MALBA, com sua coleção de arte latino-americana.</p>
                <div class="apresentacao__links">
                    <input class="inputs" type="text" id="cityInput" placeholder="Digite sua cidade">
                    <button class="apresentacao__links__link" id="searchButton">Pesquisar</button>
                    <div id="result"></div>
                </div>
            </section>
        </main>
        <footer class="rodape">
            <p>Desenvolvido Por Lucas Ledur</p>
        </footer>
        <script>
            document.getElementById("searchButton").addEventListener("click", function() {
                const city = document.getElementById("cityInput").value;
                fetch(`/search?city=${encodeURIComponent(city)}`)
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById("result").innerText = data;
                    })
                    .catch(error => {
                        console.error('Erro na requisição:', error);
                    });
            });
        </script>
    </body>
</html>
